
@{
    ViewBag.Title = "Details";
}

<h2>Restaurant Details</h2>

<div class=" container">
    <div>
        <h3>Id : @ViewBag.ReqdRestaurant.Id</h3>
    </div>

    <div>
        <h3>Name : @ViewBag.ReqdRestaurant.Name</h3>
    </div>

    <div>
        <h3>Type : @ViewBag.ReqdRestaurant.Type</h3>
    </div>

    <div>
        <a class="btn btn-lg btn-group-lg" href="/Restaurant/index">Back</a>
    </div>
</div>

